%body
  .Chat-main
    .Chat-main__group--info
      .Chat-main__text
        .heder__text--first
          test
        .heder__text--second
          Member:name
      .Chat-main__edit
        .heder__edit
          Edit  
    .Chat-main__message--list
      .Chat-main__message--info1
        .Chat-main__message--name1
          masa
        .Chat-main__message--date1
          2019/11/20(Wed) 17:43:01
      .Chat-main__message--main1
        .Chat-main__message--text
          おはよう！
      .Chat-main__message--info2
        .Chat-main__message--name1
          masa
        .Chat-main__message--date2
          2019/11/20(Wed) 17:43:34
      .Chat-main__message--main2
        .Chat-main__message--text
          今日は夜から雨
    .Chat-main__message--form
      .Chat-main__message--form-type
        .Chat-main__message--form-content
          .Chat-main__message--type-message
            type a message
          .Chat-main__message--icon
            %label{class: "input-box__image"}
              = icon('far', 'image Form__icon')
              %input{type:"file"}
        .Chat-main__message--form-send
          .Chat-main__message--send
            send

        
    