%body
  .Side-main
    .side-bar__user--name
      .top-items
        .name
          masa
      .second-items
        .icon-edit
          = icon('far', 'edit')
        .icon-cog
          = icon('fa',  'cog') 
    .side-bar__group--list
      .side-bar__frame
        .group__name
          techcamp
        .group__message--information
          まだメッセージはありません
    