%body
  .Side-bar
    .Side-bar__user
      .top-items
        %p.top-items__name masa
      .side-icon
        = link_to "#", class: "side-icon__btn" do
          = icon('far', 'edit')
        = link_to "#", class: "side-icon__btn" do
          = icon('fa',  'cog') 
    .group-list
      .side-list
        .side-list__name
          techcamp
        .side-list__information
          まだメッセージはありません
    