* {
  box-sizing: border-box;
}

.wwarapper{
  display: flex;
}

.Chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  &__group--info{
    width: calc(100vw - 300px);
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
}

.heder-text{
  display: block;
  &__first{
    margin: 35px 0 15px 40px;
    color: #333333;
    font-size: 20px;
  }
  &__second{
    margin: 0 0 0 40px;
    color: #999999;
    font-size: 12px;
   }
}
    
.heder-edit{
  display: flex;
  align-items: center;
  &__edit{
    margin: 28px 40px 20px 20px;
    color: #38aef0;
    font-size: 16px;
  }
} 
  
.list-message{
  width: calc(100vw - 300px);
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
}

.message-info{
  display: flex;padding: 35px 0 12px 40px;
  &__message--name1{
    color: #333333;
    font-size: 16px;
    margin: 0 5px 0 0;
  }
  &__message--date1{
    color: #999999;
    font-size: 12px;
  }
}

.message-text{
  margin: 0 0 46px 40px;
  &__main1{
    color: #434a54;
    font-size: 14px;
  }
}

.message-info2{
  display: flex;padding: 35px 0 12px 40px;
  &__message--name2{
    color: #333333;
    font-size: 16px;
    margin: 0 5px 0 0;
  }
  &__message--date2{
    color: #999999;
    font-size: 12px;
  }
}

.message-text2{
  margin: 0 0 46px 40px;
  &__main2{
    color: #434a54;
    font-size: 14px;
  }
}
  
.message-form{
  width: calc(100vw - 300px);
  height: 90px;
  background-color: #d2d2d2;
  display: flex;
  align-items: center;
  &__form-type{
    display: flex;
    justify-content: space-between;
  } 
}




.form-content{
  width: 66vw;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 40px;
  &__message{
    height: 50px;
    padding: 0 45px 0 15px;
    position: relative;
    display: flex;
    align-items: center;
  }
  &__message--icon{
    height: 50px;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
      input{
        display: none;  
      }       
  }
}

.form-send{
  input{
    background-color: #38aef0;
    color: #fff;
    font-size:16px;
    height: 50px;
    margin: 0 0 0 15px;
    padding: 0 30px;
    display: flex;
    align-items: center;    
  }
}
    
  


.Side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
  &__user{
    width: 300px;
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.top-items{
  margin: 0 0 0 20px;
  width: 260px;
  height: 20px;
  display: flex;
  color: #ffffff;
  &__name{
    font-size: 16px;
  }
}
.side-icon{
  width: 60px;
  margin: 0 20px 0 0;
  display: flex;
  justify-content: flex-end;
  &__btn{
    padding: 0 5px 0 0;
    color: #ffffff;
  }
}

.group-list{
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #2f3e51;
}
.side-list{
  padding: 20px 20px 40px 20px;
  &__name{ 
    color: #ffffff;
    font-size: 15px;
  }
  &__information{
    color: #ffffff;
    font-size: 11px;
    margin: 5px 0 0 0;
  }
}